/*section 5*/
.links {
  background-color: yellow;
  height: 500px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 90%;
}
.article {
  float: left;
  height: 400px;
  outline: black 2px solid;
  width: 50%;
}
