/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	psoition: relative;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*nav bar*/
nav {
	width: 100%;
	background-color: rgba(255,255,255,.9);
	z-index: 1;
}
ul {
	outline: rgba(216, 216, 216, 1.0) 1px solid;
	overflow: auto;
	width: 100%;
	margin: 0 auto;
}
li {
	float: left;
	padding: 10px;
	margin-top: 6px;
	margin-left: 5px;
	text-transform: uppercase;
	font-family: "franklin itc", sans-serif;
	font-weight:bold;
	font-style:normal;
	font-size: 13px;
}
.logo{
	margin-top: 0;
	margin-left: 22px;
	height: 20px;
}
.search {
	background-color: black;
	border-radius: 10px;
	float: right;
	height: 4px;
	margin-right: 30px;
	margin-top:10px;
	position: relative;
	width: 12px;
}
.search img {
	display:inline-block;
	position: absolute;
	left: 8px;
	top: 4px;
}

/*title image*/
.title {
	max-width: 80%;
	position: absolute;
	top:-2%;
	/*right: 10%;*/
	left: 11.75%;
	z-index: -1;
}
/*secondary image*/
.background {
	max-width: 80%;
	margin: 0 auto 0 auto;
	padding-top: 130px;
	padding-left: 60px;
}
/*illustration credit*/
.pic-credit {
	float: right;
	margin-right: 160px;
	font-family: "franklin itc", sans-serif;
	font-size:12px;
}
span {
	color: rgba(36, 85, 195, 1.0);
}
/*article heading and entry*/
.header {
	clear: both;
	font-family: "franklin itc", sans-serif;
	max-width: 80%;
	margin: 0 auto;
	text-align: center;
}
.header h1 {
	font-size: 36px;
	font-weight: bold;
	line-height: 42px;
}
.header h2 {
	font-size: 18px;
	margin-top: 15px;
}
.header h3 {
	font-size: 14px;
	margin-top: 15px;
}
.entry {
	font-family: "georgia", serif;
	font-size: 20px;
	max-width: 80%;
	margin: 0 auto;
	text-align: left;
	line-height: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}
