body {
  border-bottom: 1px solid rgba(221, 221, 221, 1.0);
  color: rgb(95, 102, 192);
  font-family: 'arial', sans-serif;
  font-size: .8em;
  line-height: 1.6em;
  margin: 0 auto;
  width: 960px;
}
.entry {
  float:left;
  margin: 1%;
  width: 14.66667%;
}
.entry img {
  margin-top: 20px;
  margin-bottom: 20px;
}
.entry h1{
  margin-top: 10px;
}
.entry p{
  color: black;
}
.entry .type {
  color: grey;
}
.entry .price {
  color: rgba(196, 79, 4, 1.0);
}
.rating{
  background-image: url(amazonsprite.gif);
  border: none;
  display: inline-block;
  height: 15px;
  width: 65px;
}
.fiveStars {
  background-position: -50px 0;
}
.fourStars {
  background-position: -62px 0;
}
.threeStars {
  background-position: -75px 0;
}
.prime {
  background-image: url(amazonsprite.gif);
  background-position: -50px -42px;
  display: inline-block;
  height: 15px;
  margin-left: 10px;
  width: 45px;
}
