.top{
	width: 960px;
	margin: 0 auto;
}
#main-image{
	width: 80%;
	height: 500px;
	margin: 10px auto;
}
#main-image img{
	width: 100%;
}
.bottom-section{
	background-color: white;
	width: 100%;
	position: fixed;
	bottom: 0;
}
.bottom-container {
	width: 60%;
	margin: 0 auto;
	overflow: auto;
}
.left-arrow{
	width: 2%;
	margin: 1%;
	overflow: auto;
	float: left;
}
.left-arrow img {
	width: 20px;
}
.right-arrow{
	width: 2%;
	margin: 1%;
	padding-top: 5px;
	float: left;
	overflow: auto;
}
.right-arrow img {
	width: 15px;
}
.thumbnail-container{
	width: 90%;
	margin-bottom: 50px;
	float: left;
	overflow-x: hidden;
}
#thumbnail-images {
	width: 170%;
	margin-left:-10px;
}
#thumbnail-images li{
	float: left;
	margin: 0 10px;
}
