.section1 {
  background-color: white;
  margin: 0 auto;
  width: 90%;
  height: 270px;
  padding: 30px;

  .glasses {
    background-color: pink;
    float: left;
    width: 45%;
    height: 250px;
    margin-left: 30px;
  }
  .ptext {
    float: right;
    width: 45%;
    text-align: center;
    margin-top: 125px;
    font-size: 2em;
  }
}
