@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ‘’;
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

nav {
  background-color: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1; }

.nav-bg-on {
  background-color: rgba(0, 0, 0, 0.5); }

nav ul {
  margin-right: 40px;
  overflow: auto; }

nav li img {
  float: left;
  height: 36px;
  margin: 12px 0 12px 10px; }

nav li a {
  color: white;
  float: right;
  font-family: "open sans", sans-serif;
  font-size: 18px;
  font-weight: 100;
  padding: 20px 0 20px 40px;
  text-transform: uppercase;
  text-decoration: none; }

nav li a:hover {
  color: #E0CB77; }

/*section 1 background  image*/
.background-image {
  background-image: url("http://www.jesseshowalter.com/assets/images/jesse-jump.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  position: relative; }

.background {
  background-color: rgba(39, 45, 53, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

/*section 1 text*/
.container {
  margin: 80px auto 0 auto;
  max-width: 1300px;
  padding: 120px 0 0 0;
  text-align: center; }

.header1 {
  color: #fff;
  font-weight: 100;
  font-family: "merriweather", sans-serif;
  font-size: 3.2rem;
  line-height: 4rem;
  text-align: center;
  text-transform: uppercase; }
  .header1 span {
    border-bottom: dotted 1px white; }

.header2 {
  color: #fff;
  font-family: "open-sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 2.3rem;
  margin: 3% auto 3%;
  max-width: 80%; }

.button a {
  border: 3px #e0cb77 solid;
  border-radius: 2px;
  color: white;
  font-family: "open-sans", sans-serif;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: .6px;
  line-height: 20px;
  margin-top: 13px;
  padding: 22.4px 64px;
  text-decoration: none;
  text-transform: uppercase; }

.button a:hover {
  color: #88711f;
  background: #e5d38c; }

.recent-projects {
  overflow: auto;
  margin: 50px auto 0 auto;
  width: 90%; }

.project {
  float: left;
  width: 28.3333%;
  margin: 0 2% 50px 2%; }
  .project h3, .project p {
    max-width: 100%;
    text-align: center;
    line-height: 2em; }
  .project h3 {
    font-size: 1.6em;
    font-family: "merriweather", sans-serif;
    color: #3195C2;
    padding-top: 15px; }
  .project p {
    font-family: "open-sans", sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    font-style: italic;
    color: #8492a4; }
  .project img {
    width: 100%; }

.project:hover h3 {
  color: #e0cb77; }

@media (max-width: 1116px) {
  .project {
    width: 45.7%;
    font-size: 80%; } }

@media (max-width: 612px) {
  .project {
    font-size: 60%; } }

@media (max-width: 500px) {
  .project {
    float: none;
    width: 100%;
    margin: 0 auto 50px auto;
    font-size: 100%; } }

/*section 3*/
.story {
  background-image: url("./images/banner-working.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px;
  position: relative;
  overflow: visible;
  height: 485px; }

.cover {
  background-color: rgba(39, 45, 53, 0.5);
  position: absolute;
  top: 0;
  right: 0; }
  .cover .story-details {
    width: 50%;
    margin: 40px;
    height: 100%; }
    .cover .story-details h1 {
      font-family: "merriweather", sans-serif;
      font-size: 2.6em;
      font-weight: bold;
      color: #e0cb77;
      line-height: 2em;
      margin-bottom: 20px; }
    .cover .story-details h2 {
      font-family: "open-sans", sans-serif;
      font-size: 20.8px;
      font-weight: 100;
      line-height: 2.4em;
      color: white;
      margin-bottom: 20px; }
      .cover .story-details h2 span {
        color: #3195C2; }
      .cover .story-details h2 span:hover {
        color: #88711f;
        background-color: #e5d38c; }
    .cover .story-details .button a {
      display: inline-block;
      width: 217px;
      height: 20px;
      margin-bottom: 40px; }

/*section 4*/
.what-i-do {
  background-image: url("./images/pattern.jpg");
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px; }

.columns {
  margin: 0 auto;
  overflow: auto;
  padding-top: 20px;
  width: 90%; }

.thing {
  background-color: white;
  width: 21%;
  float: left;
  height: 400px;
  padding: 2%;
  padding-top: 140px; }
  .thing img {
    width: 120px;
    display: block;
    margin: 0 auto;
    padding-bottom: 30px; }
  .thing h1 {
    font-family: "merriweather", sans-serif;
    font-size: 1.7em;
    font-weight: bold;
    color: #272d35;
    line-height: 64px;
    text-align: center; }
  .thing h2 {
    font-family: "open-sans", sans-serif;
    font-size: 20.8px;
    font-weight: 100;
    line-height: 36.8px;
    text-align: center;
    padding-top: 5px;
    color: #47526a; }

.vader {
  clear: all;
  background-color: white;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 100px; }
  .vader .quote {
    width: 80%;
    margin: 0 auto;
    border-top: dashed 1px #8492a4;
    padding-top: 80px; }
    .vader .quote h2 {
      font-family: "open-sans", sans-serif;
      font-size: 20.8px;
      font-weight: 100;
      line-height: 36.8px;
      text-align: center;
      padding-top: 5px;
      color: #47526a;
      font-style: italic; }
    .vader .quote .vader-image {
      background-image: url("./images/darth-vader.jpg");
      background-size: 85px;
      background-repeat: no-repeat;
      background-position: center;
      background-position-y: 5px;
      width: 88px;
      height: 88px;
      border-radius: 100px;
      border: solid 1px #c4cbd4;
      display: block;
      margin: 10px auto; }

/*section 5*/
.links {
  height: 500px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 90%; }

#hawaii, #johne {
  background-size: cover;
  height: 100%;
  background-repeat: stretch;
  background-position-x: 50%;
  background-position-y: 50%;
  float: left;
  height: 400px;
  width: 48%;
  margin: 1%;
  z-index: -1; }

#hawaii {
  background-image: url("./images/hawaiifirstBanner.jpg"); }

#johne {
  background-image: url("./images/johnedwards.jpg"); }

.article {
  float: left;
  height: 400px;
  width: 100%;
  background-color: rgba(39, 45, 53, 0.5);
  z-index: 1; }

.content {
  width: 70%;
  margin: 150px auto;
  text-align: center; }
  .content h1 {
    font-style: "merriweather", sans-serif;
    font-size: 41px;
    font-weight: bold;
    color: white;
    line-height: 50px;
    letter-spacing: 1px;
    margin-bottom: 20px; }
  .content .button a {
    text-align: center;
    display: block;
    font-size: 19px;
    width: 55%;
    margin: 0 auto; }
