// section 2
@import 'variables';

.recent-projects {
  overflow: auto;
  margin: 50px auto 0 auto;
  width: 90%;
}
.project {
  float: left;
  width: 28.3333%;
  margin: 0 2% 50px 2%;
  h3, p {
    max-width: 100%;
    text-align: center;
    line-height: 2em;
  }
  h3 {
    font-size: 1.6em;
    font-family: $main-font;
    color: $blue;
    padding-top: 15px;
  }
  p {
    font-family: $secondary-font;
    font-size: 1.2rem;
    font-weight: lighter;
    font-style: italic;
    color: $grey;
  }
  img {
    width: 100%;
  }
}
.project:hover{
  h3{
    color: $yellow;
  }
}
@media (max-width: 1116px) {
  .project {
    width: 45.7%;
    font-size: 80%;
  }
}
@media (max-width: 612px) {
  .project {
    font-size: 60%;
  }
}
@media (max-width:500px) {
  .project {
    float: none;
    width: 100%;
    margin: 0 auto 50px auto;
    font-size: 100%;
  }
}
