/*section 5*/
.links {
  height: 500px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 90%;
}
#hawaii, #johne {
  background-size: cover;
  height: 100%;
  background-repeat: stretch;
  background-position-x: 50%;
  background-position-y: 50%;
  float: left;
  height: 400px;
  width: 48%;
  margin: 1%;
  z-index: -1;
}
#hawaii {
  background-image: url('./images/hawaiifirstBanner.jpg');
}
#johne{
  background-image: url('./images/johnedwards.jpg');
}
.article {
  float: left;
  height: 400px;
  width: 100%;
  background-color: $opaque-black;
  z-index: 1;
}
.content{
  width: 70%;
  margin: 150px auto;
  text-align: center;

  h1{
    font-style: $main-font;
    font-size: 41px;
    font-weight: bold;
    color: white;
    line-height: 50px;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  .button a{
    text-align: center;
    display: block;
    font-size: 19px;
    width: 55%;
    margin: 0 auto;
  }
}
