$main-font: 'merriweather', sans-serif;
$secondary-font: 'open-sans', sans-serif;
$yellow: #e0cb77;
$gold: rgb(195, 184, 143);
$blue: #3195C2;
$grey: #8492a4;
$opaque-black: rgba(39, 45, 53, .5);
$button-hover: rgba(229, 211, 140, 1.0);
$button-hover-font: rgba(136, 113, 31, 1.0);
$black-font-color: rgba(39, 45, 53, 1.0);
$grey-font-color: rgba(71, 82, 106, 1.0);
$light-grey: rgba(196, 203, 212, 1.0);
